# Exclude from npm package

# Dev files
src/
*.ts
*.map

# Config
.eslintrc.json
.prettierrc
.prettierignore
tsconfig.json
DEVELOPMENT.md
CONTRIBUTING.md
.github/

# Tests
**/*.test.ts
coverage/
.nyc_output/

# Build
.git
.gitignore
.gitkeep
lib/
node_modules/

# Misc
README.md
TEMPLATE.md
